body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(200, 90%, 15%);
    color: hsl(190, 60%, 65%);
    width: 75%;
    margin: 0 auto;
}

a, a:link, a:hover, a:visited, a:active {
    color: hsl(190, 30%, 75%);
    font-style: italic;
    text-decoration: none;
}

#all {}

nav {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 0;
}

h1 {
    margin-bottom: 0.1rem;
}

h2 {
    margin: 0rem 0;
    display: inline-block;
    vertical-align: middle;
}

h3 {
    margin-top: 1.75rem;
    margin-left: 0;
    margin-bottom: 0;
    text-decoration: underline;
}

p {
    max-width: 45rem;
}

#ukoly p {
    margin-left: 2rem;
    margin-top: 0.3rem;
}

#pribeh p {
    margin-left: 2rem;
}

#osoby p {
    margin-left: 2rem;
}

h5 {
    margin: 0.3rem 2rem;
}

h6 {
    margin: 0;
}

#hrdinove p {
    margin: 0.1rem 2rem;
}

img {
    margin: 0.5rem 2rem;
}

nav h4 {
    margin: 0.5rem;
}

.stavHotovo {
    margin: 0.1rem 2rem;
    font-size: 0.8rem;
    color: hsl(220, 60%, 60%);
}

.stavBezi {
    margin: 0.1rem 2rem;
    font-size: 0.8rem;
    color: hsl(130, 50%, 55%)
}

.stavNabidnuto {
    margin: 0.1rem 2rem;
    font-size: 0.8rem;
    color: hsl(50, 80%, 45%)
}

.stavOvereni {
    margin: 0.1rem 2rem;
    font-size: 0.8rem;
    color: hsl(300, 60%, 65%);
}

.stavOdmitnuto {
    margin: 0.1rem 2rem;
    font-size: 0.8rem;
    color: hsl(350, 80%, 45%);
}

#kouzla ul {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-left: 0.6rem;
}

li {
    font-size: 1.05rem;
}

#souboj p, #kouzla p {
    margin: 0.2rem 2rem;
}

.goTop a {
    display: inline-block;
    padding-bottom: 0.35rem;
    vertical-align: middle;
    font-size: 1.6rem;
}

.neviditelne {
    display: none;
}


@media only screen and (max-width: 640px) {
    body {
        width: 90%;
        margin: 0 auto;
    }

    p {
        max-width: 85%;
    }
}